<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microfin360</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(members)}">
    <h2>Member List</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Father name</th>
            <th>Mother name</th>
            <th>Date of Birth</th>
            <th>Samity ID</th>
            <th>Branch ID</th>
        </tr>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.fatherName}"></td>
            <td th:text="${member.motherName}"></td>
            <td th:text="${member.dob}"></td>
            <td th:text="${member.samityId}"></td>
            <td th:text="${member.branchId}"></td>
        </tr>
    </table>
</div>
</body>
</html>