<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microfin360</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(roles)}">
    <h2>Role List</h2>
    <a th:href="@{'/roles/save/'}">
        <button type="submit" class="btn btn-primary">Add New</button>
    </a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr th:each="role : ${roles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.name}"></td>
            <td th:text="${role.description}"></td>
            <td>
                <a th:href="@{'/roles/save/' + ${role.id}}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/roles/delete/' + ${role.id}}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </a>
            </td>
        </tr>

    </table>
</div>
</body>
</html>