<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microfin360</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(users)}">
    <h2>User List</h2>
    <a th:href="@{'/users/save/'}">
        <button type="submit" class="btn btn-primary">Add New</button>
    </a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.userName}"></td>
            <td>
                <a th:href="@{'/users/edit/' + ${user.id}}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/users/delete/' + ${user.id}}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </a>
            </td>
        </tr>

    </table>
</div>
</body>
</html>