<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>New User</h1>
<form action="#" th:action="@{/users/save}" th:object="${user}" method="post">
    <input th:type="hidden"  name="id" th:field="${user.id}" />

    <p>Name: <input type="text" th:field="*{name}"/>
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </p>
    <p>User Name: <input type="text" th:field="*{userName}"/>
        <span class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
    </p>

    <p>User Role:
        <!--<select th:field="*{role_id}">
            <option value=""> &#45;&#45; </option>
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:utext="${role.name}"/>
        </select>-->

        <select  th:field="*{roleId}">
            <div>
                <option value=""> -- </option>
                <option th:each="role : ${roles}"
                        th:value="${role.id}"
                        th:utext="${role.name}"/>
            </div>
        </select>

        </p>

    <p>Password: <input type="text" th:field="*{password}"/>
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </p>
    <p>Confirm Password: <input type="text" th:field="*{confirmPassword}"/>
        <span class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
    </p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>