<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="${title}"></title>
</head>
<body>
<h1>403 - Access is denied</h1>

<h2>Wrong Move ! Go back </h2>

<div class="error-actions">
    <a th:href="@{/dashboard}" class="btn btn-large btn-primary">
        Back to Dashboard
    </a>
</div>



<script th:src="@{js/jquery-2.0.2.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>