<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700" rel="stylesheet"/>
	<!-- Web icon -->
	<link rel="stylesheet" type="text/css" th:href="@{css/web-icon.css}"/>
</head>
<body>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="images/logo_po.png" alt="Al-Zahir" class="img-responsive"/>
			</div>
		</div>
	</div>
</header>

<div class="login-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="splash-container">
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h1>Welcome to Power Sector</h1>
								<span>Please enter user name and password to login</span>
							</div>
						</div>
						<div class="panel-body">
							<div th:if="${param.error}">
								<div class="alert alert-danger">
									Invalid username and password.
								</div>
							</div>
							<div th:if="${param.logout}">
								<div class="alert alert-info">
									You have been logged out.
								</div>
							</div>
							<form th:action="@{/login}" method="post" id="formSubmit">
								<div class="form-group">
									<div class="inner-addon left-addon login-input">
										<i class="icon icon-user"></i>
										<input id="username" type="text" name="username" value="admin" placeholder="Username"
											   autocomplete="off" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="inner-addon left-addon login-input">
										<i class="icon icon-lock"></i>
										<input id="password" type="password" name="password" value="aaaaa@" placeholder="Password"
											   class="form-control" />
									</div>
								</div>
								<div class="form-group row login-tools">
									<div class="col-lg-6 col-md-12">
										<input type="checkbox" id="remember"/>
										<label for="remember">Remember Me</label>
									</div>
									<div class="col-lg-6 col-md-12">
										<div class="col-xs-12 login-forgot-password"><a href="#">Forgot Password?</a></div>
									</div>
								</div>
								<div class="form-group login-submit">
									<a href="javascript:void(0)" onclick="document.getElementById('formSubmit').submit();" class="btn">Sign me in</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>