<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Division Save</title>
</head>
<body>
<form action="#" th:object="${division}" th:action="@{/division}" method="POST">
    <input th:type="hidden" th:name="divisionId" th:field="${division.divisionId}">
    <label th:text="Name"></label>
    <input type="text" th:name="divisionName" th:field="${division.divisionName}"/>
    <input type="submit" th:value="Save"/>
</form>

</body>
</html>